.currently-exploring {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // height: 250px;
  padding: 50px 50px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00a5ff+0,7320ad+100 */
  background: #00a5ff; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #00a5ff 0%, #9600ff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #00a5ff 0%,#9600ff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #00a5ff 0%,#9600ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a5ff', endColorstr='#9600ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  // background: #00a5ff; /* Old browsers */
  // background: -moz-linear-gradient(-45deg,  #00a5ff 0%, #F57FA2 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(-45deg,  #00a5ff 0%,#F57FA2 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(135deg,  #00a5ff 0%,#F57FA2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a5ff', endColorstr='#F57FA2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  h2 {
    font-weight: bold;
    font-size: 2rem;
    color: #fff;
    margin: 0;
  }
  .right {
    margin-left: 20px;
    display: flex;
    align-items: center;
    img {
      width: 100px;
      height: 111px;
      margin-right: 20px;
      transition: transform .5s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 550px) {
  .currently-exploring {
    flex-direction: column;
    align-items: flex-start;
    .right {
      margin-top: 50px;
      margin-left: 0;
      align-self: flex-end;
    }
  }
}
