header {
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 75px;
  #logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 100%;
    font-size: 1.2rem;
    font-weight: 900;
  }
  .right {
    display: flex;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      padding: 10px 0;
      transition: border-color .3s;
      border-bottom: 2px solid transparent;
      &:hover {
        cursor: pointer;
        border-bottom-color: #fff;
      }
    }
  }
}

#hero-canvas {
  width: 100%;

}

#hero {
  position: relative;
  background: #35b8ff; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #35b8ff 0%, #00a3ff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #35b8ff 0%,#00a3ff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #35b8ff 0%,#00a3ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35b8ff', endColorstr='#00a3ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  #content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    h1 {
      color: #fff;
      font-size: 4rem;
      margin: 0;
    }
    h2 {
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 25px;
      a {
        margin-left: 10px;
        font-size: 1rem;
        padding: 10px 20px;
        transition: background .3s, color .3s;
        border-radius: 3px;
        &:hover {
          background: #fff;
          color: $primary-color;
          cursor: pointer;
        }
      }
    }
  }
}
